<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap CSS CDN -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   <!-- Our Custom CSS -->
   <link rel="stylesheet"  href="/css/admin.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
   <!-- Font Awesome JS -->
   <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
   <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <title>Sidebars</title>
</head>
<body>
    <div class="wrapper">
         <nav id="sidebar" class="rounded-5">
            <div class="sidebar-header">
                <h3>Store Web Management</h3>
                <strong>SWM</strong>
            </div>
            <ul class="list-unstyled components">
                <li >
                    <a href="/dashboard">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li >
                    <a href="/auth/customers">
                       <i class="fas fa-users"></i>
                        Customers
                    </a>
                </li>
                <li>
               
                    <a href="#pageTransac" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">
                        <i class="bi bi-bar-chart-line"></i>
                        Products
                    </a>
                    <ul class="collapse list-unstyled" id="pageTransac">
                        <li>
                            
                            <a  href="/auth/product-list">
                            <i class="fas fa-list"></i>
                                List of Products
                            </a>
                        </li>
                        <li>
                            
                            <a href="/auth/product-categories">
                               <i class="fas fa-tags"></i>
                                Product Category
                            </a>
                        </li>
                          <li>
                            
                            <a  href="/product-stock-in">
                               <i class="fas fa-box-open"></i>
                                Stock In
                            </a>
                        </li>
                    </ul>
                </li>
       
               
                <li > 
                    <a  href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle active">
                        <i class="bi bi-cart4"></i>
                       Order
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a  class="active" href="/order-list">
                                <i class="fas fa-shipping-fast"></i> 
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-cube"></i>
                                Pending
                            </a>

                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-cart-arrow-down"></i>
                                Completed
                            </a>
                        </li>
                         <li>
                            <a href="">
                                <i class="fas fa-cart-arrow-down"></i>
                                Cancelled
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/settings">
                        <i class="fas fa-user-cog"></i>
                        Setting
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content" class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
               
                <div class="container">
                    <button class="btn btn-info d-lg-none" type="button" id="sidebarCollapse">
                        <i class="fas fa-bars"></i> <span></span>
                </button>
             
                    <h3 class="location px-5 pt-3"> <a href="/order-list">Orders List/
                    <a href="">Adding Order</a>/ On-Process  </h3>
            
            
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" arial-label="Toggle Navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto"> 
                            <li class="nav-item active">
                                <a href="#" class="nav-link">
                                  <p>Hi</p>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#" class="nav-link">
                                    <i class="bi bi-chat-fill"></i><sup  class="rounded-pill text-danger">10</sup>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-bell"></i><sup class="rounded-pill text-danger ">3</sup>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="/auth/logout" class="nav-link">
                                    <i class="fas fa-sign-out-alt"></i><span>Logout</span> 
                                </a>
                            </li>
                        </ul>   
                    </div>
                </div>
            </nav>
            {{!-- Main Content --}}
            <div class="main-content container">
                <div class="px-5">
                    <div class="d-flex">
                      <h3>On Process Order</h3>
                         <form action="/auth/search_product" method="POST" class="ml-auto" role="search">
                            <div class="input-group">
                                <input class="form-control me-2" name="search" id="search" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                             </div>
                        </form>
                    </div>  
                    <h4 class="ml-auto px-4 btn btn-warning text-dark"><a href="/adding_orders" >Add Order <i class="bi bi-plus-square-fill"></i></a></h4> 
                    {{#if message}}
                        <h4 class="alert {{color}}">
                            {{message}}
                        </h4>
                    {{/if}}
                    <div class="table-responsive ">
                        <table class="table table-success table-striped ">
                              <thead>
                                  <th scope="col">Product ID</th>
                                  <th scope="col">Product Name</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Quantity</th>
                                  <th scope="col">Total Amount</th>
                                  <th scope="col">Action</th>
                               </thead>
                             <tbody>
                                {{#each data}}
                                <tr>
                                <td>{{this.product_id}}</td>
                                <td>{{this.product_name}}</td>
                                <td>{{this.product_price}}</td>
                                <td>{{this.quantity}}</td>
                                <td>{{this.total_price}}</td>
                                 <form  action="/removeProduct" method="post" class="w-50">
                                    <td>
                                        <input type="hidden" name="on_process_id"  value="{{this.on_process_id}}">
                                    <button type="submit" id="add" class="btn btn-outline-danger btn-sm w-100">
                                     <i class="bi bi-trash-fill"></i> Remove
                                    </td>
                             
                       
                               </form>  
                                
                                </tr>
                            {{/each}}
                              </tbody>
                              <tfoot class="table-info">
                                <tr>
                                    <td colspan="4" class="text-center"><h5>Grand Total</h5> </td>
                                    <td colspan="2"><h4>{{totalPrice}}</h4></td>
                                </tr>
                               
                              </tfoot>
                           
                        </table>
                        
                    </div>
                     <div>
                        <h5>Transaction Form</h5>
                              <form action="/transact_order" method="post">
                                  {{#each data}}
                                 <input type="number" name="product_id" value="{{this.product_id}}" >
                                 <input type="number" name="product_price" value="{{this.product_price}}" >
                                 <input type="number" name="total_price" value="{{this.total_price}}" >
                                 <input type="number" name="quantity" value="{{this.quantity}}" >
                                 
                             {{/each}}
                                    <input type="text" name="grand_total" value="{{totalPrice}}">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="">Customer Name</label>
                                         <select name="customer_id" id="" class="form-control" >
                                            {{#each customers}}
                                            <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>                        
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                         <label for="">Payment</label>
                                       <input type="number" name="customer_payment"  class="form-control">
                                    </div>
                                 </div>
                                 <div>
                                    <label for="">Payment Method</label>
                                    <select name="payment_method" class="form-control">
                                        <option value="cash">Cash</option>
                                        <option value="unpaid">Utang /Unpaid </option>
                                    </select>
                                 </div>
                               
                                <button class="btn btn-success">Order</button>
                              </form>
                         </div>
               </div>
                
                
            </div>
        </div>
    </div>
    <script src="js/index.js"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        
          
    </script> 

</body>
</html>