<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap CSS CDN -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   <!-- Our Custom CSS -->
   <link rel="stylesheet"  href="/css/admin.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
   <!-- Font Awesome JS -->
   <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
   <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <title>Sidebars</title>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="rounded-5">
            <div class="sidebar-header">
                <h3>Store Web Management</h3>
                <strong>SWM</strong>
            </div>
            <ul class="list-unstyled components">
                <li >
                    <a href="/dashboard">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li >
                    <a href="/auth/customers">
                       <i class="fas fa-users"></i>
                        Customers
                    </a>
                </li>
                <li>
               
                    <a href="#pageTransac" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle active">
                        <i class="bi bi-bar-chart-line"></i>
                        Products
                    </a>
                    <ul class="collapse list-unstyled" id="pageTransac">
                        <li>
                            
                            <a href="/auth/product-list">
                            <i class="fas fa-list"></i>
                                List of Products
                            </a>
                        </li>
                        <li>
                            
                            <a href="/auth/product-categories" class="active">
                               <i class="fas fa-tags"></i>
                                Product Category
                            </a>
                        </li>
                          <li>
                            
                            <a class="active" href="/product-stock-in">
                               <i class="fas fa-box-open"></i>
                                Stock In
                            </a>
                        </li>
                    </ul>
                </li>
       
               
                <li > 
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="bi bi-cart4"></i>
                       Order
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="">
                                <i class="fas fa-shipping-fast"></i> 
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-cube"></i>
                                Pending
                            </a>

                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-cart-arrow-down"></i>
                                Completed
                            </a>
                        </li>
                         <li>
                            <a href="">
                                <i class="fas fa-cart-arrow-down"></i>
                                Cancelled
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-user-cog"></i>
                        Setting
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content" class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               
                <div class="container">
                    <button class="btn btn-info d-lg-none" type="button" id="sidebarCollapse">
                        <i class="fas fa-bars"></i> <span></span>
                </button>
             
                    <h3 class="location px-5 pt-2"> <a href="">Products Category</a></h3>
            
            
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" arial-label="Toggle Navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto"> 
                            <li class="nav-item active">
                                <a href="#" class="nav-link">
                                  <p>Hi</p>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#" class="nav-link">
                                    <i class="bi bi-chat-fill"></i><sup  class="rounded-pill text-danger">10</sup>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-bell"></i><sup class="rounded-pill text-danger ">3</sup>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="../index.html" class="nav-link">
                                    <i class="fas fa-sign-out-alt"></i><span>Logout</span> 
                                </a>
                            </li>
                        </ul>   
                    </div>
                </div>
            </nav>
            {{!-- Main Content --}}
            <div class="main-content container">

                <div class="px-5">
                    <div class="d-flex">
                        <h3>Product Categories</h3>
                        <form class="ml-auto" role="search">
                            <div class="input-group">
                                <input class="form-control me-2" type="search"  placeholder="Search" aria-label="Search" id="searchInput">
                                <button class="btn btn-outline-success"  type="submit"><i class="bi bi-search"></i></button>
                            </div>
                        </form>
                    </div>  

                    <form class="mb-3 w-50" role="search" id="categoryForm" action="{{action}}" method="POST">
                        <div class="input-group">
                            <input class="form-control me-2" type="text" name="category_name" id="category_name" placeholder="Product Category" value="{{data.category_name}}">
                            <input type="hidden" name="category_id" id="category_id">
                            <button class="btn btn-warning text-dark  me-2" type="submit" id="submitBtn">Add<i class="bi {{#if category_id}}bi-pencil-square{{else}}bi-plus-square-fill{{/if}}"></i>
                            </button>
                            <button class="btn btn-primary text-dark  me-2 d-none" type="submit" id="updateBtn">Update<i class="bi bi-pencil-square"></i>
                            </button>
                        </div>
                    </form>
                    <div>
                            {{#if message}}
                                <h5 class="alert {{color}}">
                                    {{message}}
                                </h5>
                            {{/if}}
                    </div>
                    <div class="table-responsive">
                        <table class="table table-success table-striped table-bordered">
                            <thead>
                                <th>#</th>
                                <th scope="col">Product Category</th>
                                <th scope="col">Date Added</th>
                                <th scope="col">Action</th>
                            </thead>
                            <tbody>
                                {{#each data}}
                                    <tr class="categoryRow">
                                        <td>{{this.category_id}}</td>
                                        <td>{{this.category_name}}</td>
                                        <td>{{this.date_created}}</td>
                                        <td>
                                           <button class="btn btn-outline-success btn-sm" onclick="updateCategory('{{this.category_id}}', '{{this.category_name}}')">
                                            <i class="bi bi-pencil-square"></i> Update
                                            </button>
                                            <a href="/auth/deleteProductCat/{{this.category_id}}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure you want to delete?')">
                                                <i class="bi bi-trash"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                </div>

        </div>
    </div>
    <script src="js/index.js"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
   <script type="text/javascript">
        //search
       $(document).ready(function() {
        $('#searchInput').on('keyup', function() {
            var searchText = $(this).val().toLowerCase();
            $('.categoryRow').each(function() {
                var category = $(this).find('td:nth-child(2)').text().toLowerCase();
                if (category.indexOf(searchText) !== -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });

            //function for update
    function updateCategory(categoryId, categoryName) {
        // Set the value of the input field to the current category name
        document.getElementById('category_name').value = categoryName;
        document.getElementById('category_id').value = categoryId;
        
        // Change the form action to point to the update route
        document.getElementById('categoryForm').setAttribute('action', `/auth/update_category`);
        
        // Change the button text to "Update"
        document.getElementById('submitBtn').classList.add('d-none');
        document.getElementById('updateBtn').classList.remove('d-none');
    }

            function cancelUpdate() {
        // Reset the form to its original state
        document.getElementById('category_name').value = '';
        document.getElementById('categoryForm').setAttribute('action', '/auth/product-categories');
        document.getElementById('submitBtn').classList.remove('d-none');
        document.getElementById('updateBtn').classList.add('d-none');
        document.getElementById('updateBtn').innerHTML = 'Update<i class="bi bi-pencil-square"></i>';
        }




        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script> 
    {{!-- <script>
         const username = sessionStorage.getItem("username");
            alert(username);

            // Insert the username into the welcome message
            document.getElementById("welcomeMessage").innerHTML = `Welcome, ${username}!`;
            document.getElementById("greeting").innerHTML = username;
    </script> --}}
</body>
</html>